<form  #employeeForm="ngForm" (ngSUbmit)="onSubmit(employeeForm)">
    <div class="form-group">
        <label for="">
            Name
        </label>
        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.name" placeholder="full name of employee">
    </div>
    <div class="form-group">
        <label for="">
            Position
        </label>
        <input type="text" class="form-control" name="position" #position="ngModel" [(ngModel)]="employeeService.position" placeholder="position of employee">
    </div>
    <div class="form-group">
        <label for="">
            Office
        </label>
        <input type="text" class="form-control" name="office" #office="ngModel" [(ngModel)]="employeeService.office" placeholder="office of employee">
    </div>
    <div class="form-group">
        <label>
            Salary
        </label>
       <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-dollar"></i>
            </div>
             <input type="text" class="form-control" name="salary" #salary="ngModel" [(ngModel)]="employeeService.salary" placeholder="salary of employee">
       </div>
       <div class="form-group">
           <button class="btn btn-default" type="submit"><i class="fa fa-floppy-o"></i>Submit</button>
           <button class="btn btn-default" type="button"><i class="fa fa-repeat"></i>Reset</button>
       </div>
    </div>
</form>
